.app {
  padding: 1rem;
}
.app__header {
  display: flex;
  justify-content: space-between;
}
.app__header > h3 {
  text-transform: uppercase;
  color: rgba(228, 6, 6, 0.938);
  font-weight: 500;
  margin: 1rem 0;
}

.app__right,
.app__chart {
  margin-top: 1rem;
}
.select__country {
  width: 8rem;
  height: 50px;
  margin: 1rem 0;
}
.select__country > div {
  font-family: "Open Sans", "Courier New", Courier, monospace !important;
  font-size: 0.9rem;
}

.app__footer > p {
  text-align: center;
  margin: 1rem;
  font-size: 0.7rem;
}

@media screen and (min-width: 842px) {
  .app__container {
    display: flex;
    justify-content: space-between;
  }

  .app__left {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
  }

  .app__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1rem;
    margin-top: 0;
    width: 40vw;
  }
  .app__chart {
    margin-top: 1rem;
  }

  .app__infoCard {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 990px) {
  .app__header > h3 {
    font-size: 1.7rem;
  }
  .app__container {
    margin: 1.5rem 0;
  }
  .app__right {
    width: 30vw;
  }
}
